/*
0 - 600px           Phone
600 - 900px         Phone
900 - 1200px        Phone
[1200 - 1800]       Normal Styles Apply
1800px +            Big Desktop

$breakpoint argument choices:
- phone
- tab-port (tablet portrait)
- tab-land (tablet landscape)
- big-desktop

ORDER: base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: repeat(10, auto);
  grid-row-gap: 0rem; }

.artistpg-container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: repeat(10, auto); }

@font-face {
  font-family: 'AnsleyDisplay';
  src: url("fonts/AnsleyDisplay/AnsleyDisplay/AnsleyDisplay.eot");
  /* IE9 Compat Modes */
  src: url("fonts/AnsleyDisplay/AnsleyDisplay/AnsleyDisplay.eot?#iefix") format("embedded-opentype"), url("fonts/AnsleyDisplay/AnsleyDisplay/AnsleyDisplay.woff") format("woff"), url("fonts/AnsleyDisplay/AnsleyDisplay/AnsleyDisplay.ttf") format("truetype"), url("fonts/AnsleyDisplay/AnsleyDisplay/AnsleyDisplay.svg#AnsleyDisplay") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

body {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  /*	font-size: 16px;*/
  line-height: 1.7; }

.heading-primary {
  text-transform: uppercase; }
  .heading-primary--main {
    font-family: 'AnsleyDisplay', sans-serif;
    display: block;
    font-size: 2.6rem;
    font-weight: 500;
    letter-spacing: .62rem;
    color: #fff; }
  .heading-primary--sub {
    font-family: 'AnsleyDisplay', sans-serif;
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .22rem; }
  .heading-primary--sub2 {
    font-family: 'AnsleyDisplay', sans-serif;
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .22rem;
    color: #fff; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(12, 12, 12, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  color: #0c0c0c;
  line-height: 1.88;
  letter-spacing: .08rem; }
  .paragraph--specialty {
    width: 12.3rem;
    line-height: 1.88;
    letter-spacing: .08rem; }

.paragraph2 {
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.88;
  letter-spacing: .08rem; }
  .paragraph2--specialty {
    width: 12.3rem;
    line-height: 1.88;
    letter-spacing: .08rem; }

.letter {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 42rem;
  color: #e23131;
  line-height: 0; }

.eyebrow {
  width: 4.8rem;
  height: .4rem;
  border-top: 0.4rem solid #e23131;
  margin-bottom: 3rem;
  position: relative; }

.artist-text {
  position: absolute;
  left: 125%;
  bottom: 150%;
  width: 6.2rem;
  color: #e23131;
  text-transform: uppercase;
  line-height: 0;
  font-size: 1.4rem;
  letter-spacing: .21rem; }

.numbers {
  grid-column: 8 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: auto;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 40rem;
  color: #ebebeb;
  line-height: 0;
  padding-left: 12rem;
  z-index: 1; }
  .numbers__place1 {
    display: block;
    align-self: center;
    width: 100%; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-xsml {
  margin-top: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-med {
  margin-top: 4rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15rem;
  padding: 1.5rem 3rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.2rem;
  border: none;
  cursor: pointer; }

.btn--red {
  background-color: #e23131;
  color: #fff; }
  .btn--red--contact {
    float: right;
    border: solid 0.1rem #e23131;
    margin-left: .75rem; }

.btn--transparent {
  background-color: transparent;
  color: #e23131;
  border: solid 0.1rem #e23131; }

.btn::after {
  content: ""; }

.form__input {
  font-size: 1.2rem;
  font-family: inherit;
  letter-spacing: .15rem;
  color: #cccccc;
  border: solid 0.1rem #cccccc;
  width: 100%;
  height: 100%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(12, 12, 12, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #e23131; }
  .form__input::-webkit-input-placeholder {
    color: #cccccc;
    padding: 1.5rem; }

.form__label {
  font-size: 1.2rem;
  margin-left: 1.5rem;
  margin-top: 1.1rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.about {
  padding-top: 2.2rem;
  z-index: 2; }
  .about__picture {
    grid-column: full-start / col-end 4;
    grid-row: 2;
    display: grid;
    position: relative; }
  .about__img {
    width: 85%; }
  .about__content {
    width: 38.6rem;
    grid-column: col-start 5 / full-end;
    grid-row: 2;
    padding: 24.2rem 13.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }

.R {
  position: absolute;
  left: 41%;
  bottom: 60%;
  z-index: 3; }

.G {
  position: absolute;
  right: -17%;
  bottom: 38%;
  z-index: -1; }

.artists {
  padding-top: 5.1rem;
  z-index: 2; }
  .artists__position--1 {
    grid-row: 3; }
  .artists__position--2 {
    grid-row: 4; }
  .artists__position--3 {
    grid-row: 5; }
  .artists__position--4 {
    grid-row: 6; }
  .artists__position--5 {
    grid-row: 7; }
  .artists__position--6 {
    grid-row: 8; }
  .artists__position--7 {
    grid-row: 9; }
  .artists__picture {
    grid-column: full-start / col-end 4;
    position: relative; }
  .artists__img {
    width: 85%;
    object-fit: cover; }
  .artists__content {
    width: 38.6rem;
    grid-column: col-start 5 / full-end;
    padding: 24.2rem 13.5rem;
    display: grid;
    align-content: center;
    justify-items: start; }
    .artists__content__heading {
      grid-row: 2 / 2; }
    .artists__content__specialty-grid {
      margin-top: 3.2rem;
      margin-bottom: 4rem;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 3.8rem; }
      .artists__content__specialty-grid--head {
        grid-row: 1 / span 3;
        width: 9.9rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
        line-height: 1.88;
        font-size: 1.6rem;
        color: #0c0c0c;
        line-height: 1.88; }
      .artists__content__specialty-grid--head2 {
        width: 9.9rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
        line-height: 1.88;
        font-size: 1.6rem;
        color: #fff;
        line-height: 1.88; }
        .artists__content__specialty-grid--head2--specialty {
          grid-row: 1 / span 3; }
        .artists__content__specialty-grid--head2--phone {
          grid-row: 4 / span 1; }
        .artists__content__specialty-grid--head2--email {
          grid-row: 5 / span 1; }
      .artists__content__specialty-grid--item3 {
        padding-bottom: 2rem; }

.bl1 {
  position: absolute;
  left: 41%;
  bottom: 60%;
  z-index: 3; }

.bl2 {
  position: absolute;
  right: -20%;
  bottom: 38%;
  z-index: -1; }

.contact {
  grid-column: full-start / full-end;
  grid-row: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-image: url(../img/map@3x.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 9.5rem; }
  .contact__form {
    grid-column: 1 / 2;
    margin-left: 13.7rem; }
    .contact__form__container {
      display: grid;
      grid-template-columns: repeat(2, minmax(11rem, 1fr));
      grid-template-rows: repeat(4, auto);
      grid-column-gap: 1.4rem;
      grid-row-gap: 1.5rem; }
  .contact__info {
    grid-column: 2 / 2;
    z-index: 3; }
    .contact__info--grid {
      display: grid;
      margin-top: 11.5rem;
      display: grid;
      grid-template-columns: auto auto;
      grid-row-gap: 1.5rem;
      grid-column-gap: 6.3rem;
      line-height: 1.88;
      margin-left: 13.2rem;
      padding-right: 17.3rem; }
      .contact__info--grid--head {
        width: 8.5rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-size: 1.6rem; }
      .contact__info--grid--content {
        width: 19.7rem;
        letter-spacing: .08rem; }
      .contact__info--grid--1 {
        grid-column: 1 / 1;
        grid-row: 1; }
      .contact__info--grid--2 {
        grid-column: 1 / 1;
        grid-row: 2; }
      .contact__info--grid--3 {
        grid-column: 1 / 1;
        grid-row: 3; }
      .contact__info--grid--4 {
        grid-column: 2 / 2;
        grid-row: 1; }
      .contact__info--grid--5 {
        grid-column: 2 / 2;
        grid-row: 2; }
      .contact__info--grid--6 {
        grid-column: 2 / 2;
        grid-row: 3; }
  .contact__buttons {
    display: flex;
    flex-direction: row-reverse; }

.firstname {
  grid-column: 1 / 2;
  height: 4rem; }

.lastname {
  grid-column: 2 / 2;
  height: 4rem; }

.email {
  grid-column: 1 / 3;
  grid-row: 2;
  height: 4rem; }

.subject {
  grid-column: 1 / 3;
  grid-row: 3;
  height: 4rem; }

.message {
  grid-column: 1 / 3;
  grid-row: 4;
  height: 17.5rem; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    padding: .25rem;
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(12, 12, 12, 0.4);
    transform: scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 8.33%);
  grid-gap: 3rem;
  padding: 3rem; }
  .gallery__item--1 {
    grid-row: 1 / span 4;
    grid-column: 1 / span 1; }
  .gallery__item--2 {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1; }
  .gallery__item--3 {
    grid-row: 3/ span 3;
    grid-column: 2 / span 1; }
  .gallery__item--4 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 1; }
  .gallery__item--5 {
    grid-row: 1 / span 3;
    grid-column: 4 / span 1; }
  .gallery__item--6 {
    grid-row: 5 / span 2;
    grid-column: 1 / span 1; }
  .gallery__item--7 {
    grid-row: 6 / span 4;
    grid-column: 2 / span 1; }
  .gallery__item--8 {
    grid-row: 4 / span 3;
    grid-column: 3 / span 1; }
  .gallery__item--9 {
    grid-row: 4 / span 1;
    grid-column: 4 / span 1; }
  .gallery__item--10 {
    grid-row: 7 / span 4;
    grid-column: 1 / span 1; }
  .gallery__item--11 {
    grid-row: 10 / span 1;
    grid-column: 2 / span 1; }
  .gallery__item--12 {
    grid-row: 7 / span 4;
    grid-column: 3 / span 1; }
  .gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 4 / span 1; }
  .gallery__item--14 {
    grid-row: 8 / span 3;
    grid-column: 4 / span 1; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.header__home {
  grid-column: full-start / full-end;
  grid-row: 1;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: -1; }

.header__artist {
  grid-column: full-start / full-end;
  grid-row: 1;
  height: 100vh;
  background-image: radial-gradient(circle at 28% 43%, transparent, #0c0c0c), url(../img/bitmap@2x.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__artist__container {
    display: grid;
    grid-template-columns: 50vw 50vw; }
    .header__artist__container--info {
      grid-column: 2;
      padding: 14.7rem 10.5rem;
      display: grid;
      align-content: center;
      justify-items: start; }

.header__logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem; }

.header__logo {
  height: 6.3rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.header__menu {
  position: absolute;
  top: 5.7rem;
  right: 5rem; }

.header__vl {
  width: .3rem;
  height: 60px;
  border-left: solid 1px #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%); }

.header__scroll {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .15rem;
  position: absolute;
  bottom: 11.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 2rem;
  width: 4rem;
  position: absolute;
  top: 4.05rem;
  right: 4rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 300%;
  transition: all .5s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(75); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 4rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .3s;
    width: 50%; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem;
    left: 2rem; }

.navigation__button:hover .navigation__icon::before {
  transform: translateX(100%); }

.navigation__button:hover .navigation__icon::after {
  transform: translateX(-100%); }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(-135deg);
  width: 100%; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  left: 0;
  right: 0;
  transform: rotate(135deg);
  width: 100%; }
