//organized alphabetically
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/carousel";
@import "components/form";
@import "components/popup";

@import "layout/about";
@import "layout/artists";
@import "layout/contact";
@import "layout/footer";
@import "layout/gallery";
@import "layout/header";
@import "layout/navigation";



@import "pages/home";
@import "pages/artist";