.about {
    &__picture {
        grid-column: full-start / col-end 4;
        
        display: grid;

        position: relative;
    }

    &__img {
        width: 85%;
    }
      
    &__content {
        width: 38.6rem;
        grid-column: col-start 5 / full-end;

        padding: 24.2rem 13.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        // position: relative;
    }
} 

.R {
    position: absolute;
    left: 41%;
    bottom: 60%;
    z-index: 3;
 
}

.G {
    position: absolute;
    right: -17%;
    bottom: 38%;
    z-index: -1;
}