.about {
    &__picture {
        grid-column: full-start / col-end 4;
        
        display: grid;
    }

    &__img {
        width: 85%;
    }
      
    &__content {
        grid-column: col-start 5 / full-end;

        padding: 24.2rem 13.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
} 

.number--1 {
    position: relative;
    left: 55%;
    bottom: 21.35%;
    z-index: -1;
}