.mark {
    &__picture {
        grid-column: full-start / col-end 4; 
    }

    &__img {
        width: 85%;
        object-fit: cover;
    }
      
    &__content {
        width: 38.6rem;
        grid-column: col-start 5 / full-end;

        padding: 24.2rem 13.5rem;
        
        display: grid;
        align-content: center;
        justify-items: start;

        &__eyebrow {
            
        }

        &__heading {
            grid-row: 2 / 2;
            // grid-column: 1 / -1;
        }

        &__specialty {
            margin-top: 3.2rem;
            margin-bottom: 4rem;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-column-gap: 3.8rem;

            &--head {
                grid-row: 1 / span 3;

                width: 9.9rem;
                letter-spacing: .2rem;
                text-transform: uppercase;
                
            }

            &--1 {
                
                // grid-row: 4 / span 3;
                // grid-column: 2 / -1;
            }

            &--2 {
                // grid-row: 4 / span 3;
                // grid-column: 2 / -1;
            }

            &--3 {
                // grid-row: 4 / span 3;
                // grid-column: 2 / -1;
            }
        } 

    }

    .M {
        position: relative;
        left: 40%;
        bottom: 60%;
        z-index: 3;
    }
    
    .V {
        position: relative;
        right: 75%;
        bottom: 10%;
        z-index: -1;
    }
}

.amber {
    &__picture {
        background-color: $color-grey-dark-2;
        grid-column: full-start / col-end 4; 
    }
      
    &__content {
        background-color: $color-grey-dark;
        grid-column: col-start 5 / full-end;  
    }
}
  
.ash {
    &__picture {
        background-color: $color-grey-dark-2;
        grid-column: full-start / col-end 4; 
    }
      
    &__content {
        background-color: $color-grey-dark;
        grid-column: col-start 5 / full-end;  
    }
}
  
.chad {
    &__picture {
        background-color: $color-grey-dark-2;
        grid-column: full-start / col-end 4; 
    }
      
    &__content {
        background-color: $color-grey-dark;
        grid-column: col-start 5 / full-end;  
    }
}
  
.isaiah {
    &__picture {
        background-color: $color-grey-dark-2;
        grid-column: full-start / col-end 4; 
    }
      
    &__content {
        background-color: $color-grey-dark;
        grid-column: col-start 5 / full-end;  
    }
}
  
.jay {
    &__picture {
        background-color: $color-grey-dark-2;
        grid-column: full-start / col-end 4; 
    }
      
    &__content {
        background-color: $color-grey-dark;
        grid-column: col-start 5 / full-end;  
    }
}
  
.kim {
    &__picture {
        background-color: $color-grey-dark-2;
        grid-column: full-start / col-end 4; 
    }
      
    &__content {
        background-color: $color-grey-dark;
        grid-column: col-start 5 / full-end;  
    }
}
  

