.amber {
    &__picture {
        background-color: #28b485; 
    }
    
    &__content {
        background-color: #7ed56f; 
    }
}
  
.ash {
    &__picture {
        background-color: #777;
    }
  
    &__content {
        background-color: #999; 
    }
}
  
.chad {
    &__picture {
        background-color: #429ead; 
    }
  
    &__content {
        background-color: #007b8d; 
    }
}
  
.isaiah {
    &__picture {
        background-color: #5643fa;
    }
  
    &__content {
        background-color: #2998ff; 
    }
}
  
.jay {
    &__picture {
        background-color: #429ead; 
    }
  
    &__content {
        background-color: #31d4ed; 
    }
}
  
.kim {
    &__picture {
        background-color: #ff7730; 
    }
  
    &__content {
        background-color: #ffb900; 
    }
}
  
.mark {
    &__picture {
        background-color: #429ead; 
    }
  
    &__content {
        background-color: #31d4ed; 
    }
}
