.mark {
    &__picture {
        grid-column: full-start / col-end 4; 
    }

    &__img {
        width: 85%;
        object-fit: cover;
    }
      
    &__content {
        grid-column: col-start 5 / full-end;
        padding: 24.2rem 13.5rem;  
    }
}

.amber {
    &__picture {
        background-color: $color-grey-dark-2;
        grid-column: full-start / col-end 4; 
    }
      
    &__content {
        background-color: $color-grey-dark;
        grid-column: col-start 5 / full-end;  
    }
}
  
.ash {
    &__picture {
        background-color: $color-grey-dark-2;
        grid-column: full-start / col-end 4; 
    }
      
    &__content {
        background-color: $color-grey-dark;
        grid-column: col-start 5 / full-end;  
    }
}
  
.chad {
    &__picture {
        background-color: $color-grey-dark-2;
        grid-column: full-start / col-end 4; 
    }
      
    &__content {
        background-color: $color-grey-dark;
        grid-column: col-start 5 / full-end;  
    }
}
  
.isaiah {
    &__picture {
        background-color: $color-grey-dark-2;
        grid-column: full-start / col-end 4; 
    }
      
    &__content {
        background-color: $color-grey-dark;
        grid-column: col-start 5 / full-end;  
    }
}
  
.jay {
    &__picture {
        background-color: $color-grey-dark-2;
        grid-column: full-start / col-end 4; 
    }
      
    &__content {
        background-color: $color-grey-dark;
        grid-column: col-start 5 / full-end;  
    }
}
  
.kim {
    &__picture {
        background-color: $color-grey-dark-2;
        grid-column: full-start / col-end 4; 
    }
      
    &__content {
        background-color: $color-grey-dark;
        grid-column: col-start 5 / full-end;  
    }
}
  

