.contact {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 100vh;
	background-image: url(../img/map@3x.jpg);
	background-size: cover;
    background-position: center;
    

    padding-top: 9.5rem;
    
    &__map {
        
    }

    &__form {

        grid-column: 1 / 2;

        margin-left: 13.7rem;
        
        &__container {
            display: grid;
            // grid-template-columns: 1fr 1fr;
            grid-template-columns: repeat(2, minmax(11rem, 1fr));
            grid-template-rows:  repeat(4, auto);
            grid-column-gap: 1.4rem;
            grid-row-gap: 1.5rem;

        }
    }
      
    &__info {
        grid-column: 2 / 2;
        z-index: 2;
        
        &--grid {
            display: grid;

            margin-top: 11.5rem;
            display: grid;
            grid-template-columns: auto auto;
            grid-row-gap: 1.5rem;
            grid-column-gap: 6.3rem;
            line-height: 1.88;
            margin-left: 13.2rem;
            padding-right: 17.3rem;

            &--head {
                width: 8.5rem;
                letter-spacing: .2rem;
                text-transform: uppercase;
                font-size: $default-font-size; 
            }

            &--content {
                width: 19.7rem;
		        letter-spacing: .08rem;
            }

            &--1 {
                grid-column: 1 / 1;
                grid-row: 1;
            }

            &--2 {
                grid-column: 1 / 1;
                grid-row: 2;
            }

            &--3 {
                grid-column: 1 / 1;
                grid-row: 3;
            }

            &--4 {
                grid-column: 2 / 2;
                grid-row: 1;
            }

            &--5 {
                grid-column: 2 / 2;
                grid-row: 2;
            }
            &--6 {
                grid-column: 2 / 2;
                grid-row: 3;
            }

        }
    
    }

    &__buttons {
        display: flex;
        flex-direction: row-reverse;

    }
}

.firstname {
    grid-column: 1 / 2;
    height: 4rem;
}

.lastname {
    grid-column: 2 / 2;
    height: 4rem;
}

.email {
    grid-column: 1 / 3;
    grid-row: 2;
    height: 4rem;
}

.subject {
    grid-column: 1 / 3;
    grid-row: 3;
    height: 4rem;
}

.message {
    grid-column: 1 / 3;
    grid-row: 4;

    height: 17.5rem;
}
