.contact {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: 1fr 1fr;

    height: 100vh;
	background-image: url(../img/map@3x.jpg);
	background-size: cover;
    background-position: center;
    
    &__map {
        
    }

    &__form {
        grid-column: 1 / span 1;

        margin-left: 13.7rem;
        
        &__container {
            display: grid;
            grid-template-columns: 23.8rem 23.8rem;
            // grid-template-columns: repeat(2, minmax(100%, 23.8rem));
            grid-template-rows:  repeat(4, auto);
            grid-column-gap: 1.4rem;
            grid-row-gap: 1.5rem;

        }
    }
      
    &__info {
        grid-column: 2 / -1;  
    }
}

.firstname {
    grid-column: 1 / span 1;
}

.lastname {
    grid-column: 2 / span 1;
}

.email {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.subject {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

.message {
    grid-column: 1 / span 2;
    grid-row: 4 / -1;
}