.header {
	height: 100vh;
	background-image: 
	linear-gradient(to right, rgba($color-black, 0.6), rgba($color-black, 0.6)),
	url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	

	&__logo-box {
		position: absolute;
		top: 3rem;
		left: 5rem;
	}

	&__logo {
		height: 6.3rem;
	}
	
	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__menu {
		position: absolute;
		top: 5.7rem;
		right: 5rem;
	}

	&__vl {
		width: .3rem;
		height: 60px; 
		border-left: solid 1px $color-white;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__scroll {
		text-transform: uppercase;
		font-size: 1.2rem;
		letter-spacing: .15rem;
		position: absolute;
		bottom: 11.5%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: $color-white;
	}

}