.header {

	&__home {
		grid-column: full-start / full-end;
		grid-row: 1;

		height: 100vh;
		background-image: 
		linear-gradient(to right, rgba($color-black, 0.6), rgba($color-black, 0.6)),
		url(../img/hero.jpg);
		background-size: cover;
		background-position: top;
		position: relative;

		z-index: -1;
	}

	&__artist {
		grid-column: full-start / full-end;
		grid-row: 1;

		height: 100vh;
		background-image: radial-gradient(circle at 28% 43%, transparent, $color-black),
		url(../img/bitmap@2x.jpg);
		background-size: cover;
		background-position: top;
		position: relative;

		// z-index: -1;

		&__container {
			// grid-column: full-start / full-end;
			// grid-row: 1;

			display: grid;
			grid-template-columns: 50vw 50vw;
	
			// z-index: 2;

			&--info {
				grid-column: 2;
				grid-row: 1;

				padding: 14.7rem 10.5rem;
        
        		display: grid;
        		align-content: center;
				justify-items: start;
				
			}
		}
	}

	&__logo-box {
		position: absolute;
		top: 3rem;
		left: 3rem;
	}

	&__logo {
		height: 6.3rem;
	}
	
	&__text-box {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	&__menu {
		position: absolute;
		top: 5.7rem;
		right: 5rem;
	}

	&__vl {
		width: .3rem;
		height: 60px; 
		border-left: solid 1px $color-white;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__scroll {
		text-transform: uppercase;
		font-size: 1.2rem;
		letter-spacing: .15rem;
		position: absolute;
		bottom: 11.5%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: $color-white;
	}

}