/* Webfont: AnsleyDisplay-Inline */@font-face {
    font-family: 'AnsleyDisplay-Inline';
    src: url('AnsleyDisplay-Inline.eot'); /* IE9 Compat Modes */
    src: url('AnsleyDisplay-Inline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AnsleyDisplay-Inline.woff') format('woff'), /* Modern Browsers */
         url('AnsleyDisplay-Inline.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AnsleyDisplay-Inline.svg#AnsleyDisplay-Inline') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

