.btn {
	&,
	&:link,
	&:visited {
		// margin: 1.5rem 3rem;
		width: 15.6rem;
		height: 4.8rem;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.2rem;
		letter-spacing: .15rem;
		line-height: 1.5;
		// Change for the <button> element
		border: none;
		border-radius: 0;
		cursor: pointer;
	}

	&:hover {

		&::after {
		}
	}

	&:active,
	&:focus {
		
	}

	&--red {
		background-color: $color-secondary;
		color: $color-white;

		&--artist {
			width: 21.9rem;
		}

		&::after {
			
		}
	}

	&--transparent {
		

		&::after {
			
		}
	}

	&::after {
	content: "";
		
	}

	&--animated {
	
	}
}

.btn-text {
	&:link,
	&:visited {
		// width: 9.6rem;
		// height: 1.8rem;
		// line-height: 1.5;
		// text-transform: uppercase;
		// text-decoration: none;
		// font-size: 1.2rem;
		// font-weight: 700;
		// letter-spacing: .15px;
		// text-align: center;
	}

	&:hover {
	
	}

	&:active {
		
	}
}