
.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: .15rem;
		padding: 1.5rem 3rem;
		display: inline-block;
		font-weight: inherit;
		line-height: 1.5;
		border-radius: 0;
		
		transition: all .2s;
		position: relative;
		font-size: 1.2rem;

		// Change for the <button> element
		border: none;
		cursor: pointer;
	}

	&:hover {

		&::after {
		}
	}

	&:active,
	&:focus {
		
	}

	&--red {
		background-color: $color-secondary;
		color: $color-white;

		&--artist {
			// width: 21.9rem;
		}

		&--contact {
			// width: 19.1rem;
			float: right;
			border: solid .1rem $color-secondary;
			margin-left: .75rem;
		}

		&::after {
			
		}
	}

	&--transparent {
		background-color: transparent;
		color: $color-secondary;
		border: solid .1rem $color-secondary;

		&--contact {
			// width: 16.8rem;
			// margin-right: .75rem;
		}

		&::after {
			
		}
	}

	&::after {
	content: "";
		
	}

	&--animated {
	
	}
}

.btn-text {
	&:link,
	&:visited {
		
	}

	&:hover {
	
	}

	&:active {
		
	}
}