
.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: .15rem;
		padding: 1.5rem 3rem;
		display: inline-block;
		font-weight: inherit;
		line-height: 1.5;
		border-radius: 0;
		
		transition: all .2s;
		position: relative;
		font-size: 1.2rem;

		// Change for the <button> element
		border: none;
		cursor: pointer;
	}

	&:hover {

		&::after {
		}
	}

	&:active,
	&:focus {
		
	}

	&--red {
		background-color: $color-secondary;
		color: $color-white;

		&--artist {
			// width: 21.9rem;
		}

		&--contact {
			// width: 19.1rem;
			float: right;
			border: solid .1rem $color-secondary;
			margin-left: .75rem;
		}

		&::after {
			
		}
	}

	&--transparent {
		background-color: transparent;
		color: $color-secondary;
		border: solid .1rem $color-secondary;

		&--contact {
			// width: 16.8rem;
			// margin-right: .75rem;
		}

		&::after {
			
		}
	}

	&::after {
	content: "";
		
	}

	&--animated {
	
	}
}

.btn-text {
	&:link,
	&:visited {
		
	}

	&:hover {
	
	}

	&:active {
		
	}
}

.button-fill {
	text-align: center;
	background: #fff;
	display: inline-block;
	// position: relative;
	text-transform: uppercase;
	// margin: 25px;
  }
  .button-fill.grey {
	background: #445561;
	color: white;
  }
  .button-fill.orange {
	background: #e23131;
	color: #fff;
  }
  .button-fill.orange .button-inside {
	color: #e23131;
  }
  .button-fill.orange .button-inside.full {
	border: 1px solid #e23131;
  }
  .button-text {
	// padding: 0 0;
	// padding: 1.5rem 3rem;
	line-height: 1.5;
	letter-spacing: .15rem;
  }
  .button-inside {
	width: 0rem;
	height: 4.6rem;
	margin: 0;
	float: left;
	position: absolute;
	top: 1px;
	left: 50%;
	line-height: 1.5;
	color: #445561;
	background: #fff;
	text-align: center;
	overflow: hidden;
	-webkit-transition: width 0.5s, left 0.5s, margin 0.5s;
	-moz-transition: width 0.5s, left 0.5s, margin 0.5s;
	-o-transition: width 0.5s, left 0.5s, margin 0.5s;
	transition: width 0.5s, left 0.5s, margin 0.5s;
  }
  .button-inside.full {
	width: 99%;
	left: 0%;
	top: 0;
	margin-right: -5rem;
	border: 1px solid #445561;
  }
  .inside-text {
	text-align: center;
	position: absolute;
	top: 25%;
	right: 50%;
	letter-spacing: .15rem;
	text-transform: uppercase;
	-webkit-transform: translateX(50%);
	-moz-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);

	font-size: 1.5rem;
  }
  