*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// defines what 1rem is
	font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

}

body {
	
}

.container {
	display: grid;
	grid-template-rows: 100vh repeat(18, auto);
	grid-template-columns: repeat(12, 1fr);
}