*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// defines what 1rem is
	font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

}

// body {
	
// }

.container {
	display: grid;
	// grid-template-rows: 100vh repeat(9, auto);
	grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
	grid-template-rows: repeat(10, auto);

	grid-row-gap: 0rem;
}

.artistpg-container {
	display: grid;

}