@font-face {
    font-family: 'AnsleyDisplay';
    src: url('fonts/AnsleyDisplay/AnsleyDisplay/AnsleyDisplay.eot'); /* IE9 Compat Modes */
    src: url('fonts/AnsleyDisplay/AnsleyDisplay/AnsleyDisplay.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/AnsleyDisplay/AnsleyDisplay/AnsleyDisplay.woff') format('woff'), /* Modern Browsers */
         url('fonts/AnsleyDisplay/AnsleyDisplay/AnsleyDisplay.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/AnsleyDisplay/AnsleyDisplay/AnsleyDisplay.svg#AnsleyDisplay') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

// @font-face {
// 	font-family: "AnsleyDisplay";
// 	src: url("fonts/AnsleyDisplay/AnsleyDisplay/AnsleyDisplay.woff");
//  }
 
//  @font-face {
// 	font-family: myFirstFont;
// 	src: url(sansation_bold.woff);
// 	font-weight: bold;
//  }

body {
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
/*	font-size: 16px;*/
	line-height: 1.7;
}

.heading-primary {
	text-transform: uppercase;

	&--main {
		font-family: 'AnsleyDisplay', sans-serif;
		display: block;
		font-size: 2.6rem;
		font-weight: 500;
		letter-spacing: .62rem;
		color: $color-white;
	}
	
	&--sub {
		font-family: 'AnsleyDisplay', sans-serif;
		display: block;
		font-size: 2rem;
		font-weight: 500;
		letter-spacing: .22rem;
	}
}

.heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: .2rem;
	transition: all .2s;

	@include respond(tab-port) {
		font-size: 3rem;
	}

	@include respond(phone) {
		font-size: 2.5rem;
	}

	&:hover {
		transform: /*skewY(2deg) skewX(15deg)*/ scale(1.1);
		text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
	}
}

.heading-tertiary {
	font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	// width: 38.6rem;
	font-size: $default-font-size;
	color: $color-black;
	line-height: 1.88;
	letter-spacing: .08rem;

	&--specialty {
		width: 12.3rem;
		line-height: 1.88;
		letter-spacing: .08rem;
	}
}

.numbers {
	font-family: 'UnifrakturMaguntia', cursive;
	font-size: 40rem;
	color: $color-grey;
	line-height: 0;
	z-index: -1;
	
	&--about {
		position: relative;
    	left: 55%;
    	bottom: 21.35%;
		
	}
	
	&--artists {
		position: relative;
    	left: 55%;
   	 	bottom: 24%;
		
	}

	&--contact {
		// position: relative;
    	// left: 55%;
   	 	// bottom: 24%;
		
	}


}

.letter {
	font-family: 'UnifrakturMaguntia', cursive;
	font-size: 42rem;
	color: $color-secondary;
	line-height: 0;
}

.eyebrow {

	width: 4.8rem;
	height: .4rem; 
	border-top: .4rem solid $color-secondary;
	margin-bottom: 3rem;
	position: relative;

	// position: absolute;
	
}

.artist-text {
	position: absolute;
	left: 125%;
	bottom: 150%;

	width: 6.2rem;
	color: $color-secondary;
	text-transform: uppercase;
	line-height: 0;
	font-size: 1.4rem;
	letter-spacing: .21rem;
}